[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = git@gitlab.com:mokytis/hello-friend-ng.git
