<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Luke Spademan</title>
  <link rel="stylesheet" href="/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header class="ls-header">
    <a href="/" class="ls-header-title">Luke Spademan</a>
    <nav class="ls-nav">
      <ul class="ls-nav-list">
        <li class="ls-nav-item"><a class="ls-nav-link" href="/#about">About</a></li>
        <li class="ls-nav-item"><a class="ls-nav-link" href="/#contact">Contact</a></li>
        <li class="ls-nav-item"><a class="ls-nav-link" href="/#talks">Talks</a></li>
        <li class="ls-nav-item"><a class="ls-nav-link" href="/#blog">Blog</a></li>
      </ul>
    </nav>
  </header>
  <main>
  {% block content %}{% endblock content %}
  </main>
  <footer>
    <p>Copyright &copy; Luke Spademan 2021.</p>
    <p>
    This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License
    </a>.
    </p>
    <p>Unless otherwise specified, all code samples and examples on this website are licensed under the <a href="https://mokytis.mit-license.org/">MIT License</a>.</p>
    <p>This website uses the <a href="https://getzola.org">Zola static site generator</a> and the <a href="https://rsms.me/inter/">Inter typeface family</a>.</p>
    <p>
    <ul class="footer-links">
      <li><a href="https://git.cyb3r.lol/mokytis">Git</a></li>
      <li><a href="https://twitter.com/mokytis_">Twtitter</a></li>
      <li><a href="https://www.linkedin.com/in/s-luke/">LinkedIn</a></li>
      <li><a href="https://as212952.net">AS212952</a></li>
    </ul>
    </p>
  </footer>
</body>
</html>
